footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	background-color: gainsboro;

	padding: 40px;

	& > div[data-footer=active] {
		display: flex;
		gap: 25px;

		& > button {
			background: transparent;
			border: transparent;

			color: grey;

			cursor: pointer;

			transition: 0.5s;

			& > svg {
				$size: 1.8rem;

				width: $size;
				height: $size;
			}

			&:hover {
				&[data-active=github] {
					color: #2b3137;
				}

				&[data-active=mail] {
					color: #ea4335;
				}

				&[data-active=blog] {
					color: #61dbfb;
				}
			}
		}
	}

	& > div[data-footer=info] > p {
		color: grey;
	}
}