@import './global/global.scss';
@import './global/apple.scss';

* {
	margin: 0px;
	padding: 0px;

	user-select: none;

	font-family: 'AppleSDGothicNeo', sans-serif;
}

button.icon-button {
	display: flex;
	gap: 10px;

	cursor: pointer;

	justify-content: center;
	align-items: center;
}

main {
	& > section {
		min-height: calc(100vh - 223px);
	}
}